:root {
  --color-black: black;
  --color-white: white;
  --color-primary: #DF7009;

  font-family: 'Montserrat', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 500;

  color: var(--color-black);
  background-color: var(--color-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 5rem;
  color: var(--color-primary);
}
